/* * {
    border: 1px solid red;
} */

#sidebar {
    background-color: #3a3a3a;
    float: left;
    color: white;
    height: calc(100vh - 56px);
    width: 100%;
    max-width: 300px;
}

#content {
    float: right;
}