#main {
  display: flex;
  min-height: calc(100vh - 56px);
  width: 100%; }

#sidebar {
  position: fixed;
  float: left;
  height: 100vh;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  -webkit-box-shadow: -13px 0px 50px 0px #888;
  box-shadow: -13px 0px 50px 0px #888; }
  #sidebar .searchbar {
    display: flex;
    justify-content: flex-start;
    margin: 25px; }
    #sidebar .searchbar i {
      margin-left: 0 !important;
      font-size: 20px !important;
      color: black; }
    #sidebar .searchbar input[type=text] {
      flex-grow: 1;
      color: #6b7184;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      border: none;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    #sidebar .searchbar ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: lightgray; }
    #sidebar .searchbar ::-moz-placeholder {
      /* Firefox 19+ */
      color: lightgray; }
    #sidebar .searchbar :-ms-input-placeholder {
      /* IE 10+ */
      color: lightgray; }
    #sidebar .searchbar :-moz-placeholder {
      /* Firefox 18- */
      color: lightgray; }
    #sidebar .searchbar input[type=text]:focus {
      outline: none; }
  #sidebar .options {
    max-height: calc(100vh - 110px);
    overflow: scroll;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding-left: 0;
    padding-right: 25px;
    margin: 25px 0 25px 25px; }
    #sidebar .options ul {
      list-style-type: none; }
    #sidebar .options > li {
      letter-spacing: 1px;
      font-weight: 500;
      color: #6b7184; }
    #sidebar .options .filters {
      padding-left: 3px; }
      #sidebar .options .filters a:hover {
        text-decoration: none; }
      #sidebar .options .filters ul {
        padding-left: 17px; }
        #sidebar .options .filters ul .sub-filter {
          padding: 5px; }
      #sidebar .options .filters li {
        padding: 10px;
        letter-spacing: 0.5px;
        transition: all .2s ease-in-out; }
      #sidebar .options .filters .right-icon {
        display: flex;
        justify-content: space-between;
        cursor: pointer; }
        #sidebar .options .filters .right-icon .title {
          font-size: 14px; }
        #sidebar .options .filters .right-icon.check {
          transition: all .2s ease-in-out; }
          #sidebar .options .filters .right-icon.check:hover {
            background-color: #b8d8e2; }
      #sidebar .options .filters .sub-dropdown ul li {
        font-size: 12px;
        padding: 5px; }

#content {
  position: relative;
  margin-left: 300px;
  width: 100%;
  max-width: 100%; }
  #content .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px; }

.ct.pictures {
  justify-content: space-between;
  margin: 40px; }
  .ct.pictures .row .card {
    height: 100%; }
    .ct.pictures .row .card .card-body {
      padding: 7px 15px; }
    .ct.pictures .row .card .card-text {
      display: flex;
      justify-content: flex-end; }
    .ct.pictures .row .card .crop {
      overflow: hidden;
      height: 100%;
      width: auto; }
      .ct.pictures .row .card .crop img {
        height: 100%; }
  .ct.pictures .row > div {
    margin-bottom: 20px; }

.ct.pictures > .card {
  margin-bottom: 30px; }

.photo-card {
  max-width: 250px;
  max-height: 200px; }
  .photo-card .thumbnail {
    height: 150px;
    width: 100%;
    overflow: hidden; }
    .photo-card .thumbnail img {
      height: 150px;
      width: 100%; }

.spec.content {
  width: 100%;
  margin: 50px; }
  @media (min-width: 992px) {
    .spec.content .options {
      margin-top: 15px; } }
  @media (min-width: 1200px) {
    .spec.content .options {
      margin-top: 5px; } }

.main img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.grow {
  transition: all .2s ease-in-out; }

.overlay {
  transition: all .2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: opacity(0%);
  display: flex;
  justify-content: center;
  align-items: center; }

.overlay:hover + .crop .grow {
  transform: scale(1.2);
  -webkit-filter: blur(2px) grayscale(100%) brightness(50%);
  filter: blur(2px) grayscale(100%) brightness(50%); }

.overlay:hover {
  filter: opacity(100%); }

i {
  color: #fff;
  font-size: 50px !important;
  filter: opacity(70%);
  margin: 7px; }
