// * {
//     border: 1px solid red;
// }
$sidebar: #3a3a3a;
$sideblue: #6b7184;

#main {
  display: flex;
  min-height: calc(100vh - 56px);
  width: 100%;
}

#sidebar {
  float: left;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  -webkit-box-shadow: -13px 0px 50px 0px #888;
  box-shadow: -13px 0px 50px 0px #888;
  .options {
    & > li {
      font-weight: 500;
      color: $sideblue;
    }
    font-family: "Lato", Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding-left: 0;
    ul {
      list-style-type: none;
    }
    .filters {
      padding-left: 3px;
      li {
        padding: 10px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: rgb(184, 216, 226);
        }
      }
    }
  }
  
}

.sb.content {
  margin: 25px;
}

#content {
  width: 100%;
  max-width: 100%;
  position: relative;

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    min-height: 70px;
  }
}

.ct.pictures {
  justify-content: space-between;
  margin: 40px;

  .row {
    .card {
      height: 100%;
      .card-body {
        padding: 7px 15px;
      }
      .card-text {
        display: flex;
        justify-content: flex-end;
      }
      .crop {
        overflow: hidden;
        height: 100%;
        width: auto;
        img {
          height: 100%;
        }
      }
    }

    & > div {
      margin-bottom: 20px;
    }
  }
}

.ct.pictures > .card {
  margin-bottom: 30px;
}

.photo-card {
  max-width: 250px;
  max-height: 200px;
  .thumbnail {
    height: 150px;
    width: 100%;
    overflow: hidden;
    img {
      height: 150px;
      width: 100%;
    }
  }
}

.spec.content {
  width: 100%;
  margin: 50px;
  .options {
    @media (min-width: 992px) {
      margin-top:15px;      
    }
    @media (min-width: 1200px) {
      margin-top:5px;      
    }
  }
}

.main {
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  }
}

.grow { transition: all .2s ease-in-out; }

.overlay {
  transition: all .2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: opacity(0%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover + .crop .grow {
  transform: scale(1.2);
  -webkit-filter: blur(2px) grayscale(100%) brightness(50%);
  filter: blur(2px) grayscale(100%) brightness(50%);
}

.overlay:hover {
  filter: opacity(100%);
}

i {
  color: #fff;
  font-size: 50px !important;
  filter: opacity(70%);
  margin: 7px;
}