// * {
//     border: 1px solid red;
// }
$sidebar: #3a3a3a;
$sideblue: #6b7184;
$dlgreen: #4bb580;

@mixin main-icons($grow, $bgcolor) {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: $grow;

  transition: all .2s ease-in-out;

  &:hover {
    background-color: darken($bgcolor, 25%);
  }
}

@mixin fa-size($size) {
  i {
    font-size: $size !important;
  }
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0;
}

#main {
  position: relative;
  display: flex;

  min-height: calc(100vh - 56px);
  width: 100%;
}

#sidebar {
  position: fixed;
  float: left;

  height: 100%;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;

  -webkit-box-shadow: -13px 0px 50px 0px #888;
  box-shadow: -13px 0px 50px 0px #888;

  .top-menu {
    display: flex;
    height: 57px;

    background-color: #858e98;
    color: white;

    .home {
      @include main-icons(1, #4f5a66);
      @include fa-size(30px);
      max-width: 57px;
      background-color: #4f5a66;    
    }

    .settings {
      @include main-icons(1, #5f6a75);
      @include fa-size(30px);
      max-width: 57px;
      background-color: #5f6a75;
    }

    .upload {
      @include main-icons(4, #6e7983);
      @include fa-size(23px);

      background-color: #6e7983;

      cursor: pointer;

      font-family: "Lato", Arial, Helvetica, sans-serif;
      letter-spacing: 1px;

      & > div {
        display: flex;
        align-items: center;
        padding-right: 13px;
      }
    }
  }

  .searchbar {
    display: flex;
    justify-content: flex-start;
    margin: 25px;

    i {
      margin-left: 0 !important;
      font-size: 20px !important;
      color: black;
    }
    
    input[type=text] {
      flex-grow: 1;
      color: $sideblue;

      font-family: "Lato", Arial, Helvetica, sans-serif;

      border: none;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    }
    
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: lightgray;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: lightgray;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: lightgray;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: lightgray;
    }

    input[type=text]:focus {
      outline: none;
    }
  }

  .options {
    max-height: calc(100vh - 140px);

    padding-left: 0;
    padding-right: 25px;
    margin: 25px 0 25px 25px;

    overflow: auto;

    font-family: "Lato", Arial, Helvetica, sans-serif;
    list-style-type: none;
    
    ul {
      list-style-type: none;
    }

    & > li {
      letter-spacing: 1px;
      font-weight: 500;
      color: $sideblue;
    }

    .filters {
      padding-left: 3px;

      a:hover {
        text-decoration: none;
      }

      ul {
        padding-left: 17px;

        .sub-filter {
          padding: 5px;
        }
      }

      li {
        padding: 10px;
        letter-spacing: 0.5px;

        transition: all .2s ease-in-out;
      }

      .right-icon {
        display: flex;
        justify-content: space-between;

        cursor: pointer;
        
        .title {
          font-size: 14px;
        }

        &.check {
          transition: all .2s ease-in-out;
        }
      }

      .sub-dropdown {
        ul {
          li {
            font-size: 12px;
            padding: 5px;
          }
        }
      }
    }
  }
}


#content {
  position: relative;
  margin-left: 300px;

  width: 100%;
  max-width: 100%;

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    min-height: 70px;
  }
}

.ct.pictures {
  justify-content: space-between;
  margin: 40px;

  .row {
    .card {
      height: 100%;
      .card-body {
        padding: 7px 15px;
      }
      .card-text {
        display: flex;
        justify-content: flex-end;
      }
      .crop {
        overflow: hidden;
        height: 100%;
        width: auto;
        img {
          height: 100%;
        }
      }
    }

    & > div {
      margin-bottom: 20px;
    }
  }
}

.ct.pictures > .card {
  margin-bottom: 30px;
}

.photo-card {
  max-width: 250px;
  max-height: 200px;

  .thumbnail {
    height: 150px;
    width: 100%;
    overflow: hidden;

    img {
      height: 150px;
      width: 100%;
    }
  }
}

.spec.content {
  position: relative;
  
  width: 100%;
  margin-left: 300px;

  .container {
    padding: 70px;
  }

  .options {
    @media (min-width: 992px) {
      margin-top:15px;      
    }
    @media (min-width: 1200px) {
      margin-top:5px;      
    }
  }
}

.main {
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.grow { transition: all .2s ease-in-out; }

.overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  z-index: 1;

  transition: all .2s ease-in-out;
  filter: opacity(0%);
  
  i:hover {
    cursor: pointer;
  }
}

.overlay:hover + .crop .grow {
  transform: scale(1.2);
  -webkit-filter: blur(2px) grayscale(100%) brightness(50%);
  filter: blur(2px) grayscale(100%) brightness(50%);
}

.overlay:hover {
  filter: opacity(100%);
}

i {
  color: #fff;
  font-size: 50px !important;
  filter: opacity(70%);
  margin: 7px;
}

#image-modal {
  img {
    width: 100%;
  }
  
  div.modal-content {
    border-radius: 0 !important;
  }

  div.modal-body {
    padding: 0 !important;

  
    div.container {
      @include fa-size(15px);
      padding: 0 !important;

      .btn-dl {
        width: 100%;
        letter-spacing: 1px;

        background-color: $dlgreen;
        border: none;
        cursor: pointer;
      }

      .corner-opt {
        display: flex;
        justify-content: flex-end;
      }

      .image-big{
        padding: 0 !important;
      }

      .image-info{
        padding: 15px !important;
        
        display: flex;

        flex-direction: column;
        justify-content: space-between;

        .close {
          width: 14px;
          cursor: pointer;
        }
      }

      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 20vh auto;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 900px;
    margin: 20vh auto;
  }
}

.no-padding {
  padding: 0 !important;
}