body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0; }

#main {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%; }

#sidebar {
  position: fixed;
  float: left;
  z-index: 1;
  height: 100%;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background-color: white;
  -webkit-box-shadow: -13px 0px 50px 0px #888;
  box-shadow: -13px 0px 50px 0px #888; }
  #sidebar .top-menu {
    display: flex;
    height: 57px;
    background-color: #858e98;
    color: white; }
    #sidebar .top-menu .home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      transition: all .2s ease-in-out;
      max-width: 57px;
      background-color: #4f5a66; }
      #sidebar .top-menu .home:hover {
        background-color: #171b1e; }
      #sidebar .top-menu .home i {
        font-size: 30px !important; }
    #sidebar .top-menu .settings {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      transition: all .2s ease-in-out;
      max-width: 57px;
      background-color: #5f6a75; }
      #sidebar .top-menu .settings:hover {
        background-color: #262a2f; }
      #sidebar .top-menu .settings i {
        font-size: 30px !important; }
    #sidebar .top-menu .upload {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 4;
      transition: all .2s ease-in-out;
      background-color: #6e7983;
      cursor: pointer;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      letter-spacing: 1px; }
      #sidebar .top-menu .upload:hover {
        background-color: #34393e; }
      #sidebar .top-menu .upload i {
        font-size: 23px !important; }
      #sidebar .top-menu .upload > div {
        display: flex;
        align-items: center;
        padding-right: 13px; }
  #sidebar .searchbar {
    display: flex;
    justify-content: flex-start;
    margin: 25px; }
    #sidebar .searchbar i {
      margin-left: 0 !important;
      font-size: 20px !important;
      color: black; }
    #sidebar .searchbar input[type=text] {
      flex-grow: 1;
      color: #6b7184;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      border: none;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    #sidebar .searchbar ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: lightgray; }
    #sidebar .searchbar ::-moz-placeholder {
      /* Firefox 19+ */
      color: lightgray; }
    #sidebar .searchbar :-ms-input-placeholder {
      /* IE 10+ */
      color: lightgray; }
    #sidebar .searchbar :-moz-placeholder {
      /* Firefox 18- */
      color: lightgray; }
    #sidebar .searchbar input[type=text]:focus {
      outline: none; }
  #sidebar .options {
    max-height: calc(100vh - 140px);
    padding-left: 0;
    padding-right: 25px;
    margin: 25px 0 25px 25px;
    overflow: auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    list-style-type: none; }
    #sidebar .options ul {
      list-style-type: none; }
    #sidebar .options > li {
      letter-spacing: 1px;
      font-weight: 500;
      color: #6b7184; }
    #sidebar .options .filters {
      padding-left: 3px; }
      #sidebar .options .filters a:hover {
        text-decoration: none; }
      #sidebar .options .filters ul {
        padding-left: 17px; }
        #sidebar .options .filters ul .sub-filter {
          padding: 5px; }
      #sidebar .options .filters li {
        padding: 10px;
        letter-spacing: 0.5px;
        transition: all .2s ease-in-out; }
      #sidebar .options .filters .right-icon {
        display: flex;
        justify-content: space-between;
        cursor: pointer; }
        #sidebar .options .filters .right-icon .title {
          font-size: 14px; }
        #sidebar .options .filters .right-icon.check {
          transition: all .2s ease-in-out; }
      #sidebar .options .filters .sub-dropdown ul li {
        font-size: 12px;
        padding: 5px; }

#content {
  position: relative;
  margin-left: 300px;
  z-index: 0;
  width: 100%;
  max-width: 100%; }
  #content .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px; }

.ct.pictures {
  justify-content: space-between;
  margin: 40px; }
  .ct.pictures .row .card {
    height: 100%; }
    .ct.pictures .row .card .card-body {
      padding: 7px 15px; }
    .ct.pictures .row .card .card-text {
      display: flex;
      justify-content: flex-end; }
    .ct.pictures .row .card .crop {
      overflow: hidden;
      height: 100%;
      width: auto; }
      .ct.pictures .row .card .crop img {
        height: 100%; }
  .ct.pictures .row > div {
    margin-bottom: 20px; }

.ct.pictures > .card {
  margin-bottom: 30px; }

.photo-card {
  max-width: 250px;
  max-height: 200px; }
  .photo-card .thumbnail {
    height: 150px;
    width: 100%;
    overflow: hidden; }
    .photo-card .thumbnail img {
      height: 150px;
      width: 100%; }

.spec.content {
  position: relative;
  width: 100%;
  margin-left: 300px; }
  .spec.content .container {
    padding: 70px; }
  @media (min-width: 992px) {
    .spec.content .options {
      margin-top: 15px; } }
  @media (min-width: 1200px) {
    .spec.content .options {
      margin-top: 5px; } }

.main img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.grow {
  transition: all .2s ease-in-out; }

.overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all .2s ease-in-out;
  filter: opacity(0%); }
  .overlay i:hover {
    cursor: pointer; }

.overlay:hover + .crop .grow {
  transform: scale(1.2);
  -webkit-filter: blur(2px) grayscale(100%) brightness(50%);
  filter: blur(2px) grayscale(100%) brightness(50%); }

.overlay:hover {
  filter: opacity(100%); }

i {
  color: #fff;
  font-size: 50px !important;
  filter: opacity(70%);
  margin: 7px; }

#image-modal img {
  width: 100%; }

#image-modal div.modal-content {
  border-radius: 0 !important; }

#image-modal div.modal-body {
  padding: 0 !important; }
  #image-modal div.modal-body div.container {
    padding: 0 !important; }
    #image-modal div.modal-body div.container i {
      font-size: 15px !important; }
    #image-modal div.modal-body div.container .btn-dl {
      width: 100%;
      letter-spacing: 1px;
      background-color: #4bb580;
      border: none;
      cursor: pointer; }
    #image-modal div.modal-body div.container .corner-opt {
      display: flex;
      justify-content: flex-end; }
    #image-modal div.modal-body div.container .image-big {
      padding: 0 !important;
      background-color: black; }
    #image-modal div.modal-body div.container .image-info {
      padding: 15px !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #image-modal div.modal-body div.container .image-info .close {
        width: 14px;
        cursor: pointer; }
    #image-modal div.modal-body div.container .row {
      margin-left: 0 !important;
      margin-right: 0 !important; }

#upload-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding: 15px 30px 30px 30px;
  top: 0;
  left: -100%;
  z-index: 2;
  transition: all 0.37s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  background-color: #ebedef;
  filter: opacity(0%); }
  #upload-page .top-controls {
    display: flex;
    justify-content: flex-end; }
    #upload-page .top-controls span {
      cursor: pointer;
      font-size: 25px; }
  #upload-page .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #upload-page .form-wrapper #previews {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 400px);
      width: 70%;
      margin-top: 30px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.05); }
      #upload-page .form-wrapper #previews #preview-header {
        width: 100%;
        margin-bottom: 0;
        color: white;
        background-color: black;
        border-radius: 5px 5px 0 0; }
      #upload-page .form-wrapper #previews #preview-list {
        overflow: scroll;
        border-radius: 0 0 5px 5px; }
  #upload-page .upload-container {
    display: flex;
    justify-content: center;
    margin: 30px; }
  #upload-page #dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.05);
    transition: all .21s ease-in-out; }
    #upload-page #dropzone i {
      color: #b4b4b4; }
    #upload-page #dropzone .dz-message {
      color: #b4b4b4;
      font-size: 18px;
      margin-left: 10px; }

.active-upload {
  left: 0 !important;
  filter: opacity(100%) !important; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 20vh auto; } }

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 900px;
    margin: 20vh auto; } }

.no-padding {
  padding: 0 !important; }

.stitched {
  border: 2px dashed #a8a8a8;
  box-shadow: 0 0 0 8px #ffffff; }

.inner-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px; }
  .inner-drop i {
    font-size: 37px !important; }
  .inner-drop i {
    color: #a8a8a8; }
  .inner-drop span {
    margin-left: 10px;
    color: #a8a8a8;
    font-size: 20px; }

.naisu-box-shadow {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.11); }

div.dz-preview {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #ebebeb solid; }
  div.dz-preview div.dz-details {
    display: flex;
    flex-direction: row-reverse; }
